/*Armen Sarkisian and Ilana-Mahmea Siegel */
:root {
  --armea-dark-grey: #27292b;
  --armea-sea-green: #02CF9E;
  --armea-salmon: #F25C5C;
  --armea-light-blue: #0279CF;
  --armea-orange: #FF6B00;
}

body {
  /* they added */
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* our style */
  box-sizing: border-box;
  /* So unauthenticated users can't see page before redirect */
  display: none;
}

a {
  color: #00B7FF;
}

#armea-top-banner > div.row {
  /* display: flex; */
  min-height: 10vh;
  background-color: var(--armea-dark-grey);
  color: #FFF;
  align-items: center;
  text-align: center;
}

#main-content {
  margin-top: 5px;
}

.armea-side-nav-outer {
  border-right: 2px solid var(--armea-light-blue);
}

.armea-deck-title {
  background-color: var(--armea-light-blue);
  color: #FFF;
  margin-bottom: 10px;
}