/*Armen Sarkisian and Ilana-Mahmea Siegel */
:root {
  --armea-dark-grey: #27292b;
  --armea-sea-green: #02CF9E;
  --armea-salmon: #F25C5C;
  --armea-light-blue: #0279CF;
  --armea-orange: #FF6B00;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  /* So unauthenticated users can't see page before redirect */
  display: none;
}

a {
  color: #00B7FF;
}

.logo {
  height: 10vh;
}

#armea-top-banner > div.row {
  min-height: 10vh;
  background-color: #000;
  color: #FFF;
  align-items: center;
  text-align: center;
}

#main-content {
  margin-top: 5px;
}

.armea-side-nav-outer {
  border-right: 2px solid var(--armea-light-blue);
  margin-top: 5px;
}

