:root {
  --armea-dark-grey: #27292b;
  --armea-sea-green: #02CF9E;
  --armea-salmon: #F25C5C;
  --armea-light-blue: #0279CF;
  --armea-orange: #FF6B00;
}

h1 {
  background-color: var(--armea-dark-grey);
  color: #FFF;
  text-align: center;
}

#armea-top-banner {
  display: flex;
}

body {
  box-sizing: border-box;
}

.armea-side-nav-outer {
  border-right: 2px solid var(--armea-light-blue);
}

.armea-deck-title {
  background-color: var(--armea-light-blue);
  color: #FFF;
  margin-bottom: 10px;
}