/*Armen Sarkisian*/

.sectionHeader {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.deckIcon {
  width: 150px;
  min-width: 150px;
  height: 200px;
  border: 1px solid #FF9900;
  border-radius: 30px;
  background-color: beige;
  color: blue;
  padding: 15px;
  margin: 10px;
}

.iconText {
  text-align: center;
  color: green;
  font-family: 'Open Sans', sans-serif;
}

.deckGridDisplay {
  margin-left: 200px;
  margin-right: 200px;
}

.startStudyButton {
  background-color: #3ce036;
  color: #FFFFFF;
}