:root {
  --armea-dark-grey: #27292b;
  --armea-sea-green: #02CF9E;
  --armea-salmon: #F25C5C;
  --armea-light-blue: #0279CF;
  --armea-orange: #FF6B00;
  --armea-bright-green: #3ce036;
}

h1 {
  background-color: var(--armea-dark-grey);
  color: #FFF;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 7px;
  margin: 0;
}


#armea-top-banner {
  display: flex;
}

body {
  box-sizing: border-box;
}

.armea-side-nav-outer {
  border-right: 2px solid var(--armea-light-blue);
  border-bottom: 2px solid var(--armea-light-blue);
}




/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/